<div class="mt-3">
  <h1 class="text-secondary text-center">
    Thanks for Donating your blood.
    <i class="fa-regular fa-face-grin-beam ms-2"></i>
  </h1>
</div>

<div class="container" id="bloodDonateForm">
  <h1 class="text-primary">Please Fill the form to donate blood</h1>
  <form [formGroup]="donateBloodForm" (ngSubmit)="onSubmitBloodDonateForm()">
    <!-- age -->
    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control shadow-none"
        id="age"
        placeholder=""
        formControlName="age"
      />
      <label for="age">Age</label>
    </div>
    <!-- disease -->
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control shadow-none"
        id="disease"
        placeholder=""
        formControlName="disease"
      />
      <label for="disease">Disease (if any)</label>
    </div>
    <!-- unit -->
    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control shadow-none"
        id="unit"
        placeholder=""
        formControlName="unit"
      />
      <label for="unit">Unit</label>
    </div>
    <!-- blood_group -->
    <select
      class="form-select shadow-none mb-3"
      formControlName="blood_group_id"
    >
      <option value="" selected disabled>Select Blood Group</option>
      <option *ngFor="let blood_group of bloodGroups" [value]="blood_group.id">
        {{ blood_group.blood_group }}
      </option>
    </select>
    <!-- branch -->
    <select
      class="form-select shadow-none mb-3"
      formControlName="donate_branch_id"
    >
      <option value="" selected disabled>Select Branch</option>
      <option *ngFor="let branch of branches" [value]="branch.id">
        {{ branch.name }}
      </option>
    </select>
    <button type="submit" class="btn btn-success">Donate Blood</button>
  </form>
</div>
