<div class="mt-3">
  <h1 class="text-secondary text-center">
    Thanks for Donating your blood.
    <i class="fa-regular fa-face-grin-beam ms-2"></i>
  </h1>
</div>
<!-- error message -->
<div class="alert alert-danger mt-3 mx-5" *ngIf="errorMessage">
  <p class="h3">{{ errorMessage }}</p>
  <button type="button" class="btn btn-danger" (click)="onCloseError()">
    Close
  </button>
</div>
<!-- form -->
<div class="container mb-5" id="bloodDonateForm">
  <h1 class="text-primary">Please Fill the form to donate blood</h1>
  <form [formGroup]="donateBloodForm" (ngSubmit)="onSubmitBloodDonateForm()">
    <!-- age -->
    <label for="age" class="form-label">Age</label>
    <div class="mb-3">
      <input
        type="number"
        class="form-control shadow-none"
        id="age"
        placeholder=""
        formControlName="age"
        max="60"
      />
      <span class="text-danger" *ngIf="donateBloodForm.value.age > 60">
        Age should be less than or equal to 60.
      </span>
    </div>
    <!-- disease -->
    <div class="mb-3">
      <label for="disease" class="form-label">Disease (if any)</label>
      <input
        type="text"
        class="form-control shadow-none"
        id="disease"
        placeholder=""
        formControlName="disease"
      />
    </div>
    <!-- unit -->
    <div class="mb-3">
      <label for="unit" class="form-label">Unit</label>
      <input
        type="number"
        class="form-control shadow-none"
        id="unit"
        placeholder=""
        min="0"
        max="2"
        formControlName="unit"
      />
      <span class="text-danger" *ngIf="donateBloodForm.value.unit > 2">
        Unit should be less than or equal to 2.
      </span>
    </div>
    <!-- blood_group -->
    <label for="blood_group" class="form-label">Blood Group</label>
    <select
      class="form-select shadow-none mb-3"
      id="blood_group"
      formControlName="blood_group_id"
    >
      <option value="" selected disabled>Select Blood Group</option>
      <option *ngFor="let blood_group of bloodGroups" [value]="blood_group.id">
        {{ blood_group.blood_group }}
      </option>
    </select>
    <!-- branch -->
    <label for="branch" class="form-label">Branch</label>
    <select
      class="form-select shadow-none mb-3"
      id="branch"
      formControlName="donate_branch_id"
    >
      <option value="" selected disabled>Select Branch</option>
      <option *ngFor="let branch of branches" [value]="branch.id">
        {{ branch.name }}
      </option>
    </select>
    <!-- selected branch detail display -->
    <div
      *ngIf="selectedBranch"
      class="selected-branch form-control border-4 border-primary mb-3"
    >
      <p class="h3 text-primary">Branch Detail</p>
      <p>
        {{ selectedBranch.name }}
      </p>
      <p>
        {{ selectedBranch.address }}
      </p>
      <p>
        {{ selectedBranch.mobile }}
      </p>
    </div>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!donateBloodForm.valid"
    >
      Donate Blood
    </button>
    <button type="button" class="btn btn-danger ms-3" (click)="onClickCancel()">
      Cancel
    </button>
  </form>
</div>
