<button type="button" class="btn btn-back mt-4 mx-3" (click)="onBack()">
  <i class="fa-solid fa-circle-chevron-left"></i>
  Back
</button>

<div class="container" *ngIf="donor">
  <p class="h2 text-success">Kindly find the details of donor</p>
  <h1 class="text-primary">Username : {{ donor.user.username }}</h1>
  <p class="text-capitalize">
    first name : {{ donor.user.first_name | emptyData }}
  </p>
  <p class="text-capitalize">
    last name : {{ donor.user.last_name | emptyData }}
  </p>
  <p class="text-capitalize">email : {{ donor.user.email | emptyData }}</p>
  <p class="text-capitalize">mobile : {{ donor.user.mobile | emptyData }}</p>
  <p class="text-capitalize">address : {{ donor.user.address | emptyData }}</p>
  <p class="text-capitalize">
    last login : {{ donor.user.last_login | customDate }}
  </p>
  <p class="text-capitalize">
    blood group : {{ donor.blood_group.blood_group }}
  </p>
  <p class="text-capitalize">date of birth : {{ donor.date_of_birth }}</p>
</div>
