<app-loading *ngIf="isLoading"></app-loading>

<div class="auth-forms" *ngIf="!isLoading">
  <!-- login form -->
  <div id="login" class="container" *ngIf="authType == 'login'">
    <div class="alert alert-danger" *ngIf="loginErrorMessage">
      <p>
        {{ loginErrorMessage }}
      </p>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onCloseErrorMessage()"
      >
        Close
      </button>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control shadow-none"
          id="username"
          placeholder=""
          formControlName="username"
        />
        <label for="username">Email address / Username</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control shadow-none"
          id="password"
          placeholder=""
          formControlName="password"
        />
        <label for="password">Password</label>
        <button
          type="submit"
          class="btn btn-primary mt-3"
          [disabled]="!loginForm.valid"
        >
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
          Login
        </button>
        <p class="mt-3">
          <a
            class="text-decoration-none"
            role="button"
            (click)="changeAuthType()"
          >
            Click to
          </a>
          create a new account.
        </p>
      </div>
    </form>
  </div>

  <!-- register form -->
  <div id="register" class="container" *ngIf="authType == 'register'">
    <!-- failure message -->
    <div class="alert alert-danger" *ngIf="registerErrorMessage">
      <p>
        {{ registerErrorMessage }}
      </p>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onCloseErrorMessage()"
      >
        Close
      </button>
    </div>
    <!-- success message -->
    <div class="alert alert-success" *ngIf="registerSuccessMessage">
      <p>
        {{ registerSuccessMessage }}
      </p>
      <button
        type="button"
        class="btn btn-success me-3"
        (click)="changeAuthType()"
      >
        Go to Login
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onCloseErrorMessage()"
      >
        Close
      </button>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegisterForm()">
      <!-- user -->
      <div formGroupName="user" class="mb-3">
        <!-- first_name & last_name -->
        <div class="row">
          <!-- first_name -->
          <div class="col-lg-6 col-12">
            <label for="first_name" class="form-label">First Name</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control shadow-none"
                id="first_name"
                placeholder=""
                formControlName="first_name"
              />
              <span
                class="text-danger"
                *ngIf="registerForm.value.user.first_name.length > 150"
              >
                Maximum length limit exceeded. Allowed 150 characters only.
              </span>
            </div>
          </div>
          <!-- last_name -->
          <div class="col-lg-6 col-12">
            <label for="last_name" class="form-label">Last Name</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control shadow-none"
                id="last_name"
                placeholder=""
                formControlName="last_name"
              />
              <span
                class="text-danger"
                *ngIf="registerForm.value.user.last_name.length > 150"
              >
                Maximum length limit exceeded. Allowed 150 characters only.
              </span>
            </div>
          </div>
        </div>
        <!-- username -->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control shadow-none"
            id="username"
            placeholder=""
            formControlName="username"
          />
          <span
            class="text-danger"
            *ngIf="registerForm.value.user.username.length > 150"
          >
            Maximum length limit exceeded. Allowed 150 characters only.
          </span>
        </div>
        <!-- email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control shadow-none"
            id="email"
            placeholder=""
            formControlName="email"
          />
          <span
            class="text-danger"
            *ngIf="registerForm.value.user.email.length > 150"
          >
            Maximum length limit exceeded. Allowed 150 characters only.
          </span>
        </div>
        <!-- mobile -->
        <div class="mb-3">
          <label for="mobile" class="form-label">Mobile Number</label>
          <input
            type="text"
            class="form-control shadow-none"
            id="mobile"
            placeholder=""
            formControlName="mobile"
          />
          <span
            class="text-danger"
            *ngIf="registerForm.value.user.mobile.length > 10"
          >
            Mobile number must contain 10 digits.
          </span>
        </div>
        <!-- password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control shadow-none"
            id="password"
            placeholder=""
            formControlName="password"
          />
          <span
            class="text-danger"
            *ngIf="registerForm.value.user.password.length > 150"
          >
            Maximum length limit exceeded. Allowed 128 characters only.
          </span>
        </div>
        <!-- address -->
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea
            name="address"
            id="address"
            class="form-control shadow-none"
            rows="5"
            placeholder=""
            formControlName="address"
          ></textarea>
          <span
            class="text-danger"
            *ngIf="registerForm.value.user.address.length > 500"
          >
            Maximum length limit exceeded. Allowed 500 characters only.
          </span>
        </div>
        <!-- user type -->
        <label for="register_type" class="form-label">Register type</label>
        <select
          class="form-select shadow-none"
          formControlName="user_type"
          id="register_type"
        >
          <option value="" selected disabled>Select Register Type</option>
          <option value="2">Donor</option>
          <option value="3">Patient</option>
        </select>
      </div>
      <!-- date_of_birth -->
      <label for="date_of_birth" class="form-label">Date of Birth</label>
      <div class="mb-3">
        <input
          type="date"
          class="form-control shadow-none"
          id="date_of_birth"
          placeholder=""
          formControlName="date_of_birth"
        />
      </div>
      <!-- blood_group -->
      <label for="blood_group" class="form-label">Blood Group</label>
      <select
        class="form-select shadow-none mb-3"
        formControlName="blood_group_id"
        id="blood_group"
      >
        <option value="" selected disabled>Select Blood Group</option>
        <option
          *ngFor="let blood_group of bloodGroups"
          [value]="blood_group.id"
        >
          {{ blood_group.blood_group }}
        </option>
      </select>
      <!-- profile_pic -->
      <!-- <div class="form-floating mb-3">
        <input type="file" 
               class="form-control shadow-none" 
               id="profile_pic" 
               placeholder=""
               formControlName="profile_pic">
        <label for="profile_pic">Profile Pic</label>
      </div> -->
      <!-- register button -->
      <button
        type="submit"
        class="btn btn-success mt-3"
        [disabled]="!registerForm.valid"
      >
        <i class="fa-solid fa-user-plus"></i>
        Register User
      </button>
      <p class="mt-3">
        Already have an account?.
        <a
          class="text-decoration-none"
          role="button"
          (click)="changeAuthType()"
        >
          Click to
        </a>
        login.
      </p>
    </form>
  </div>
</div>
