<div class="auth-forms">
  <!-- login form -->
  <div id="login" class="container" *ngIf="authType == 'login'">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
      <div class="form-floating mb-3">
        <input type="text" 
               class="form-control shadow-none" 
               id="username" 
               placeholder=""
               formControlName="username">
        <label for="username">Email address / Username / Mobile Number</label>
      </div>
      <div class="form-floating">
        <input type="password" 
               class="form-control shadow-none" 
               id="password" 
               placeholder=""
               formControlName="password">
        <label for="password">Password</label>
        <button type="submit" 
                class="btn btn-primary mt-3" 
                [disabled]="!loginForm.valid">
          Login
        </button>
        <p class="mt-3">
          <a class="text-decoration-none" role="button" (click)="changeAuthType()">
            Click to
          </a>
           create a new account.
          </p>
      </div>
    </form>
  </div>

  <!-- register form -->
  <div id="register" class="container" *ngIf="authType=='register'">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegisterForm()">
      <!-- user -->
      <div formGroupName="user" class="mb-3">
        <!-- first_name & last_name -->
        <div class="row">
          <!-- first_name -->
          <div class="col-lg-6 col-12">
            <div class="form-floating mb-3">
              <input type="text" 
                     class="form-control shadow-none" 
                     id="first_name" 
                     placeholder=""
                     formControlName="first_name">
              <label for="first_name">First Name</label>
            </div>
          </div>
          <!-- last_name -->
          <div class="col-lg-6 col-12">
            <div class="form-floating mb-3">
              <input type="text" 
                     class="form-control shadow-none" 
                     id="last_name" 
                     placeholder=""
                     formControlName="last_name">
              <label for="last_name">Last Name</label>
            </div>
          </div>
        </div>
        <!-- username -->
        <div class="form-floating mb-3">
          <input type="text" 
                 class="form-control shadow-none" 
                 id="username" 
                 placeholder=""
                 formControlName="username">
          <label for="username">Username</label>
        </div>
        <!-- email -->
        <div class="form-floating mb-3">
          <input type="text" 
                 class="form-control shadow-none" 
                 id="email" 
                 placeholder=""
                 formControlName="email">
          <label for="email">Email</label>
        </div>
        <!-- mobile -->
        <div class="form-floating mb-3">
          <input type="text" 
                 class="form-control shadow-none" 
                 id="mobile" 
                 placeholder=""
                 formControlName="mobile">
          <label for="mobile">Mobile Number</label>
        </div>
        <!-- password -->
        <div class="form-floating mb-3">
          <input type="password" 
                 class="form-control shadow-none" 
                 id="password" 
                 placeholder=""
                 formControlName="password">
          <label for="password">Password</label>
        </div>
          <!-- user type -->
          <select class="form-select shadow-none" formControlName="user_type">
            <option value="" selected disabled>Select Register Type</option>
            <option value="2">Donor</option>
            <option value="3">Patient</option>
          </select>
      </div>
      <!-- date_of_birth -->
      <div class="form-floating mb-3">
        <input type="date" 
               class="form-control shadow-none" 
               id="date_of_birth" 
               placeholder=""
               formControlName="date_of_birth">
        <label for="date_of_birth">Date of Birth</label>
      </div>
      <!-- blood_group -->
      <select class="form-select shadow-none mb-3" formControlName="blood_group_id">
        <option value="" selected disabled>Select Blood Group</option>
        <option *ngFor="let blood_group of bloodGroups" [value]="blood_group.id">
          {{ blood_group.blood_group }}
        </option>
      </select>
      <!-- profile_pic -->
      <!-- <div class="form-floating mb-3">
        <input type="file" 
               class="form-control shadow-none" 
               id="profile_pic" 
               placeholder=""
               formControlName="profile_pic">
        <label for="profile_pic">Profile Pic</label>
      </div> -->
      <!-- register button -->
      <button type="submit" 
              class="btn btn-success mt-3" 
              [disabled]="!registerForm.valid">
        Register
      </button>
      <p class="mt-3">
        Already have an account?.
        <a class="text-decoration-none" role="button" (click)="changeAuthType()">
          Click to
        </a>
         login.
        </p>
    </form>
  </div>
</div>