<div class="auth-forms">
  <!-- loading -->
  <app-loading *ngIf="isLoading"></app-loading>
  <!-- admin form -->
  <div id="register" class="container mb-5" *ngIf="!isLoading">
    <div class="alert alert-danger" *ngIf="errorMessage">
      <p class="h4">
        {{ errorMessage }}
      </p>
      <button type="button" class="btn btn-danger" (click)="onCloseAlert()">
        Close
      </button>
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
      <p class="h4">
        {{ successMessage }}
      </p>
      <button type="button" class="btn btn-danger" (click)="onCloseAlert()">
        Close
      </button>
    </div>
    <form [formGroup]="adminForm" (ngSubmit)="onSubmitAdminForm()">
      <!-- user -->
      <div formGroupName="user" class="user mb-3">
        <!-- first_name & last_name -->
        <div class="row">
          <!-- first_name -->
          <div class="col-lg-6 col-12">
            <div class="mb-3">
              <label for="first_name" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control shadow-none"
                id="first_name"
                placeholder=""
                formControlName="first_name"
              />
              <span
                class="text-danger"
                *ngIf="adminForm.value.user.first_name.length > 150"
              >
                Maximum length limit exceeded. Allowed 150 characters only.
              </span>
            </div>
          </div>
          <!-- last_name -->
          <div class="col-lg-6 col-12">
            <div class="mb-3">
              <label for="last_name" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control shadow-none"
                id="last_name"
                placeholder=""
                formControlName="last_name"
              />
              <span
                class="text-danger"
                *ngIf="adminForm.value.user.last_name.length > 150"
              >
                Maximum length limit exceeded. Allowed 150 characters only.
              </span>
            </div>
          </div>
        </div>
        <!-- username -->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control shadow-none"
            id="username"
            placeholder=""
            formControlName="username"
          />
          <span
            class="text-danger"
            *ngIf="adminForm.value.user.username.length > 150"
          >
            Maximum length limit exceeded. Allowed 150 characters only.
          </span>
        </div>
        <!-- email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control shadow-none"
            id="email"
            placeholder=""
            formControlName="email"
          />
          <span
            class="text-danger"
            *ngIf="adminForm.value.user.email.length > 150"
          >
            Maximum length limit exceeded. Allowed 150 characters only.
          </span>
        </div>
        <!-- mobile -->
        <div class="mb-3">
          <label for="mobile" class="form-label">Mobile Number</label>
          <input
            type="text"
            class="form-control shadow-none"
            id="mobile"
            placeholder=""
            formControlName="mobile"
          />
          <span
            class="text-danger"
            *ngIf="adminForm.value.user.mobile.length > 10"
          >
            Mobile number must contain 10 digits.
          </span>
        </div>
        <!-- password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control shadow-none"
            id="password"
            placeholder=""
            formControlName="password"
          />
          <span
            class="text-danger"
            *ngIf="adminForm.value.user.password.length > 150"
          >
            Maximum length limit exceeded. Allowed 128 characters only.
          </span>
        </div>
        <!-- address -->
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea
            name="address"
            id="address"
            class="form-control shadow-none"
            rows="5"
            placeholder="Enter Address"
            formControlName="address"
          ></textarea>
          <span
            class="text-danger"
            *ngIf="adminForm.value.user.address.length > 500"
          >
            Maximum length limit exceeded. Allowed 500 characters only.
          </span>
        </div>
        <!-- user type -->
        <label for="user_type" class="form-label">Register Type</label>
        <select
          class="form-select shadow-none"
          formControlName="user_type"
          id="user_type"
        >
          <option value="1" selected>Admin</option>
        </select>
      </div>
      <!-- register button -->
      <button
        type="submit"
        class="btn btn-success mt-3"
        [disabled]="!adminForm.valid"
      >
        <i class="fa-solid fa-user-plus"></i>
        Add Admin
      </button>
      <button
        type="button"
        class="btn btn-danger ms-3 mt-3"
        (click)="onClickCancel()"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
