<div class="container mt-5">
  <h1 class="text-primary">Release Notes</h1>

  <hr class="border-5 border-danger" />

  <!-- release notes -->

  <!-- v0.0.4 -->
  <h3>V-0.0.4</h3>

  <ul>
    <li>Added loading icon for dashboard on slow network.</li>
    <li>Admin page added for admin login.</li>
    <li>In <b>admin login</b> admin can able to create other admins.</li>
    <li>
      From now branch can be selected by donor and patient when donating and
      requesting blood
    </li>
    <li>On Registration, user can add their address.</li>
    <li>Detail view for pending requests implemented.</li>
    <li>
      Admin can <b>approve</b> or <b>reject</b> requests after detail viewing of
      donate and request blood.
    </li>
  </ul>

  <hr class="text-success border-2" />

  <!-- v0.0.3 -->
  <h3>V-0.0.3</h3>

  <ul>
    <li>Blood stock UI was changed.</li>
    <li>Release Notes implementation.</li>
    <li>About Us page implementation.</li>
    <li>Search implementation for donor, patient & history views.</li>
    <li>Reason for Rejecting requests has been added.</li>
    <li>Detail view for donor & patient history was added.</li>
    <li>
      Other Enhancements
      <ul>
        <li>Minor UI enhancement in home page & pagination</li>
      </ul>
    </li>
  </ul>

  <hr class="text-success border-2" />

  <!-- v0.0.2 -->
  <h3>V-0.0.2</h3>

  <ul>
    <li>UI implementation.</li>
    <li>Minor bug fixes in backend</li>
  </ul>

  <hr class="text-success border-2" />

  <!-- v0.0.1 -->
  <h3>V-0.0.1</h3>

  <ul>
    <li>Backend development has been implemented.</li>
  </ul>
</div>
