<!-- error message -->
<div class="alert alert-danger mt-3 mx-5" *ngIf="errorMessage">
  <p class="h3">{{ errorMessage }}</p>
  <button type="button" class="btn btn-danger" (click)="onCloseError()">
    Close
  </button>
</div>
<!-- form -->
<div class="container my-5" id="bloodDonateForm">
  <h1 class="text-primary text-capitalize">
    Please Fill the form to request blood
  </h1>
  <form [formGroup]="requestBloodForm" (ngSubmit)="onSubmitBloodRequestForm()">
    <!-- patient_name -->
    <div class="mb-3">
      <label for="patient_name" class="form-label">Patient Name</label>
      <input
        type="text"
        class="form-control shadow-none"
        id="patient_name"
        placeholder=""
        maxlength="50"
        formControlName="patient_name"
      />
      <span
        class="text-danger"
        *ngIf="requestBloodForm.value.patient_name.length > 50"
      >
        MAximum limit exceeded.
      </span>
    </div>
    <!-- patient_age -->
    <div class="mb-3">
      <label for="patient_age" class="form-label">Patient Age</label>
      <input
        type="number"
        class="form-control shadow-none"
        id="patient_age"
        placeholder=""
        max="120"
        formControlName="patient_age"
      />
      <span
        class="text-danger"
        *ngIf="requestBloodForm.value.patient_age > 120"
      >
        Age should not greater than 120.
      </span>
    </div>
    <!-- reason -->
    <div class="mb-3">
      <label for="reason" class="form-label">Reason</label>
      <input
        type="text"
        class="form-control shadow-none"
        id="reason"
        placeholder=""
        maxlength="150"
        formControlName="reason"
      />
      <span class="text-danger" *ngIf="requestBloodForm.value.reason > 150">
        Maximum limit exceeded.
      </span>
    </div>
    <!-- unit -->
    <div class="mb-3">
      <label for="unit" class="form-label">Unit</label>
      <input
        type="number"
        class="form-control shadow-none"
        id="unit"
        placeholder=""
        max="20"
        formControlName="unit"
      />
      <span class="text-danger" *ngIf="requestBloodForm.value.unit > 20">
        Unit should not greater than 20.
      </span>
    </div>
    <!-- blood_group -->
    <label for="blood_group" class="form-label">Blood Group</label>
    <select
      class="form-select shadow-none mb-3"
      formControlName="blood_group_id"
    >
      <option value="" selected disabled>Select Blood Group</option>
      <option *ngFor="let blood_group of bloodGroups" [value]="blood_group.id">
        {{ blood_group.blood_group }}
      </option>
    </select>
    <!-- branch -->
    <label for="branch" class="form-label">Branch</label>
    <select
      class="form-select shadow-none mb-3"
      formControlName="request_branch_id"
    >
      <option value="" selected disabled>Select Branch</option>
      <option *ngFor="let branch of branches" [value]="branch.id">
        {{ branch.name }}
      </option>
    </select>
    <!-- selected branch detail display -->
    <div
      *ngIf="selectedBranch"
      class="selected-branch form-control border-4 border-primary mb-3"
    >
      <p class="h3 text-primary">Branch Detail</p>
      <p>
        {{ selectedBranch.name }}
      </p>
      <p>
        {{ selectedBranch.address }}
      </p>
      <p>
        {{ selectedBranch.mobile }}
      </p>
    </div>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!requestBloodForm.valid"
    >
      Request Blood
    </button>
    <button type="button" class="btn btn-danger ms-3" (click)="onClickCancel()">
      Cancel
    </button>
  </form>
</div>
