<nav class="navbar navbar-expand-lg bg-danger sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- navbar brand name -->
    <a href="javascript:void(0)" class="navbar-brand">
      Blood Bank Management System
    </a>
    <!-- navbar collapse button -->
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" 
            data-bs-target="#navbarContent" >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let tab of tabs">
          <a routerLink="{{tab.link}}" class="nav-link text-capitalize" routerLinkActive="active">
            {{ tab.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>