<div class="container-fluid">
  <h1 class="text-secondary text-center my-3">Admin Details</h1>
  <app-loading *ngIf="isLoading"></app-loading>
  <!-- error message -->
  <div class="alert alert-danger" *ngIf="errorMessage">
    <p class="h3">{{ errorMessage }}</p>
    <button type="button" class="btn btn-success" (click)="onClickReload()">
      Reload Data
    </button>
  </div>
  <div class="data" *ngIf="!isLoading && admins.length > 0">
    <button
      type="button"
      class="btn btn-primary my-4"
      (click)="onClickCreate()"
    >
      Create Admin
    </button>
    <table
      class="table table-striped table-hover table-bordered table-responsive"
    >
      <thead class="table-danger">
        <tr class="head">
          <th colspan="3">
            <div class="filter">
              <i
                [ngClass]="
                  isFilterEnabled
                    ? 'fa-solid fa-filter-circle-xmark'
                    : 'fa-solid fa-filter'
                "
                role="button"
                (click)="onEnableFilter()"
              >
              </i>
            </div>
          </th>
          <th colspan="3">
            <nav>
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item" [ngClass]="!prevLink ? 'disabled' : ''">
                  <a class="page-link" role="button" (click)="onFullPrev()">
                    <i class="fa-solid fa-angles-left"></i>
                  </a>
                </li>
                <li class="page-item" [ngClass]="!prevLink ? 'disabled' : ''">
                  <a class="page-link" role="button" (click)="onPrev()">
                    <i class="fa-solid fa-chevron-left"></i>
                  </a>
                </li>
                <li class="page-item">
                  <p class="page-link text-black">
                    Page {{ page }} of {{ total }}
                  </p>
                </li>
                <li class="page-item" [ngClass]="!nextLink ? 'disabled' : ''">
                  <a class="page-link" role="button" (click)="onNext()">
                    <i class="fa-solid fa-chevron-right"></i>
                  </a>
                </li>
                <li class="page-item" [ngClass]="!nextLink ? 'disabled' : ''">
                  <a class="page-link" role="button" (click)="onFullNext()">
                    <i class="fa-solid fa-angles-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </th>
        </tr>
        <tr>
          <th scope="col">
            Username
            <div
              class="sort-dropdown"
              [ngClass]="sortOrder.includes('username') ? 'text-success' : ''"
            >
              <i
                class="fa-solid fa-caret-down"
                role="button"
                data-bs-toggle="dropdown"
              >
              </i>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    role="button"
                    (click)="loadData('ordering=username')"
                  >
                    Sort By Asc
                    <i
                      class="fa-solid fa-check text-success"
                      *ngIf="sortOrder == 'ordering=username'"
                    >
                    </i>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    role="button"
                    (click)="loadData('ordering=-username')"
                  >
                    Sort By Desc
                    <i
                      class="fa-solid fa-check text-success"
                      *ngIf="sortOrder == 'ordering=-username'"
                    >
                    </i>
                  </a>
                </li>
              </ul>
            </div>
          </th>
          <th scope="col">
            Email
            <div
              class="sort-dropdown"
              [ngClass]="sortOrder.includes('email') ? 'text-success' : ''"
            >
              <i
                class="fa-solid fa-caret-down"
                role="button"
                data-bs-toggle="dropdown"
              >
              </i>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    role="button"
                    (click)="loadData('ordering=email')"
                  >
                    Sort By Asc
                    <i
                      class="fa-solid fa-check text-success"
                      *ngIf="sortOrder == 'ordering=email'"
                    >
                    </i>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    role="button"
                    (click)="loadData('ordering=-email')"
                  >
                    Sort By Desc
                    <i
                      class="fa-solid fa-check text-success"
                      *ngIf="sortOrder == 'ordering=-email'"
                    >
                    </i>
                  </a>
                </li>
              </ul>
            </div>
          </th>
          <th scope="col">Mobile Number</th>
          <th scope="col">
            Last Login
            <div
              class="sort-dropdown"
              [ngClass]="sortOrder.includes('last_login') ? 'text-success' : ''"
            >
              <i
                class="fa-solid fa-caret-down"
                role="button"
                data-bs-toggle="dropdown"
              >
              </i>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    role="button"
                    (click)="loadData('ordering=last_login')"
                  >
                    Sort By Asc
                    <i
                      class="fa-solid fa-check text-success"
                      *ngIf="sortOrder == 'ordering=last_login'"
                    >
                    </i>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    role="button"
                    (click)="loadData('ordering=-last_login')"
                  >
                    Sort By Desc
                    <i
                      class="fa-solid fa-check text-success"
                      *ngIf="sortOrder == 'ordering=-last_login'"
                    >
                    </i>
                  </a>
                </li>
              </ul>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
        <tr *ngIf="isFilterEnabled">
          <th>
            <input
              type="text"
              name="username"
              id="username"
              class="form-control"
              [(ngModel)]="inputUsername"
            />
          </th>
          <th>
            <input
              type="text"
              name="username"
              id="username"
              class="form-control"
              [(ngModel)]="inputEmail"
            />
          </th>
          <th>
            <input
              type="text"
              name="username"
              id="username"
              class="form-control"
              [(ngModel)]="inputMobile"
            />
          </th>
          <th>
            <!-- <input type="text" name="username" id="username" class="form-control"> -->
          </th>
          <th>
            <button
              type="button"
              class="btn btn-success"
              (click)="onClickSearch()"
            >
              Search
            </button>
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let admin of admins">
          <td>{{ admin.user.username }}</td>
          <td>{{ admin.user.email }}</td>
          <td>{{ admin.user.mobile }}</td>
          <td *ngIf="admin.user.last_login">
            {{ admin.user.last_login | customDate }}
          </td>
          <td *ngIf="!admin.user.last_login">Not Login</td>
          <td>
            <button
              type="button"
              class="btn btn-outline-success me-2 text-capitalize"
              (click)="onViewAdmin(admin.id)"
            >
              view details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
